<section class="about mt-5 pt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto text-center">
                <h1>Informations</h1>
                
            </div>
        </div>

        <div class="row mt-2 pt-2">
            <div class="col-lg-6">
                <div class="card-effect">
                    <div class="iconobox">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-1-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M9.283 4.002H7.971L6.072 5.385v1.271l1.834-1.318h.065V12h1.312z"/>
                        </svg>
                    </div>
                    <h5>Etudiant</h5>
                    <p>
                        L'application offre aux étudiants la possibilité de donner 
                        leur avis sur les cours, les enseignants et d'autres aspects de 
                        leur expérience académique via des mécanismes de feedback intégrés 
                       contribuant ainsi à l'amélioration continue de la qualité de 
                        l'enseignement et des services proposés par l'ESP.
                    </p>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="card-effect">
                    <div class="iconobox">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-1-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M9.283 4.002H7.971L6.072 5.385v1.271l1.834-1.318h.065V12h1.312z"/>
                        </svg>
                    </div>
                    <h5>Enseignant</h5>
                    <p>
                        Les enseignants peuvent facilement déposer leurs syllabus, 
                        leurs plans de cours, leurs supports de cours, etc., sur la plateforme, 
                        ce qui permet aux étudiants d'accéder à ces ressources à tout moment. 
                        Cela favorise la transparence et la cohérence dans la diffusion des 
                        informations académiques.
                    </p>
                </div>
            </div>
        </div>
    </div>



      <div class="lien text-center mt-5 pt-5">
        <a href="https://github.com/Ousmane-java/projetSGBD"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
            <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"/>
          </svg>Lien Github</a>
      </div>

</section>