<<<<<<< HEAD
.hero {
    background-image: url(/assets/images/banner-bg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 2;
}

.hero::after {
=======


.homecontent
{
    background-image: url(/assets/images/banner-bg.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    z-index: 2;
}

.homecontent::after {
>>>>>>> main
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(21, 20, 51, 0.8);
    z-index: -1;
}

<<<<<<< HEAD
section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.connexion {
    border-width: 2px;

}

=======

.homecontent h1
{
    color: var(--dark);
    font-size: 50px;
    font-weight: 700;
}

.homecontent p
{
    color: var(--box);
}
.homecontent a
{
    margin-top: 10px;
    text-decoration: none;
}

.btn {
    padding: 10px 18px;
    border-width: 2px;
    border-radius: 0;
}

@media screen and (max-width:600px)
{
    .home img
{
    height: 700px;
}
    .homecontent h1
{
    font-size: 40px;        
}
}
>>>>>>> main
