<section class=" mt-5 pt-md-4">
    <div class="container">
        <div class="row mb-3">
            <div class="col-md-12">
                <h1 class="col-md-8 mb-5 mx-auto text-center">Bienvenue sur votre espace enseignant !</h1>
            </div>
        </div>
    </div>

    <div class="d-grid gap-2 col-6 mx-auto">
       <button class="btn btn-dark btn-lg" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"><a routerLink="/enseignant/enseignement-enseignant"> Consulter les syllabus</a></button>
        <button class="btn btn-dark btn-lg" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"><a routerLink="/enseignant/etudiant-enseignant">Saisir les notes étudiants</a></button>
    </div>
       
</section>