/* You can add global styles to this file, and also import other style files */
<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
:root {
    --primary: rgb(37, 43, 103);
    --body: rgb(20, 19, 19);
    --dark: rgb(1, 0, 0);
    --box: rgb(248, 249, 250);
    --box-shadow:rgb(195, 218, 241);

}
*
{
    padding: 0;
    margin: 0;
}

body {
    font-family: "Sora", sans-serif;
    box-sizing: border-box;
    line-height: 1.7;
}

a {
    text-decoration: none;
    color: var(--body);
    font-size: 20px;
=======
/* @import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap'); */

:root {
    --primary: rgba(37, 43,103);
    --dark: #757575;
    --body: #252525;
    --white: #ffffff;
    --box-shadow: 0 8px 22px rgba(0,0,0,0.1);
}

* {
    margin: 0;
    padding: 0;
}

a:hover, li:hover {
    color: var(--dark);
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
    color: var(--body);
}

.btn {
    padding: 14px 18px;
    border-width: 0px;
    border-radius: 0;
}

h1.display-4 {
    color: var(--dark);
    font-weight: 700;
}
h2, h3, h4, h5, h6{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    color:var(--body);
    margin-bottom: 20px;
  }

a {
    color: var(--dark);
    text-decoration: none;
}

img {
    width: 100%;
}

.navbar {
    box-shadow: var(--box-shadow);
}

.logo {
    width: 160px;
>>>>>>> 7c2032c0943b6eaa8ff8502e522076eba818042d
}
